@import "../utilities/colors.scss";
@import "../utilities/mixins.scss";

.dfe-width-container {
  margin: 0 16px;
  max-width: 1200px;

  @media (min-width: 48.0625em) {
    margin: 0 32px;
  }

  @media (min-width: 1264px) {
    margin: 0 auto;
  }
}

.dfe-logo {
  width: 136px !important;
  height: 80px !important;
  border: 0;
}

.dfe-logo-hover {
  display: none;
}

.dfe-header {
  background-color: $color_dfe-blue;
  border-bottom: 10px solid $color_dfe-secondary-blue;

  &__container {
    padding: 20px 0;

    @media (max-width: 40.0525em) {
      margin: 0;
      padding: 16px;
    }

    @include after-clear;
  }

  &__logo {
    float: left;

    @media (max-width: 40.0525em) {
      position: relative;
      z-index: 1;
    }

    @media (max-width: 450px) {
      max-width: 50%
    }

    @media (max-width: 48.0525em) {
      max-width: 60%
    }

    @media (min-width: 40.0625em) {
      padding-left: 0;
    }
  }

  &__link--service {
    & .dfe-header__service-name {
      @media(min-width: 61.875em) {
        margin-top: 61px;
        display: block;
        font-weight: 500;
        letter-spacing: -.2px;
        margin-left: 12px
      }

      @media (min-width: 61.875em) and (min-width: 40.0625em) {
        font-size: 22px;
        line-height: 1.33333;
      }
    }

    height: auto;
    margin-top: -4px;
    text-decoration: none;
    width: auto;

    &:focus {
      .dfe-logo {
        display: none;
      }

      .dfe-logo-hover {
        display: inline-block;
        width: 136px !important;
        height: 80px !important;
      }

      .dfe-header__service-name {
        color: #060c0c;
        text-decoration: none;
      }

      background: #fd0;
      box-shadow: 0 0 0 4px #fd0, 0 4px 0 4px #0b0c0c;
    }

    @media (min-width: 61.875em) {
      align-items: center;
      display: flex;
      -ms-flex-align: center;
      margin-bottom: 0;
      width: auto
    }
  }

  &__service-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: #fff;
    display: block;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 61.865em) {
      max-width: 220px;
    }

    @media (min-width: 40.0625em) {
      font-size: 22px;
      line-height: 1.33333;
    }

    @media (min-width: 61.875em) {
      padding-left: 16px;
    }
  }

  &__content {
    position: relative;

    @media (min-width: 40.0625em) {
      float: right;
    }

    @include after-clear;
  }
}

.dfeuk-header {
  &__username {
    padding-bottom: 20px;
    margin: 0;
    text-align: right;
    color: #fff;
  }
}

@media print {
  .dfe-logo {
    display: none;
  }

  .dfe-logo-hover {
    display: inline-block;
    width: 136px !important;
    height: 80px !important;
  }

  .dfe-header__service-name {
    color: rgb(0, 0, 0);
  }
}
