@using GovUk.Frontend.AspNetCore

<header class="app-header " role="banner" data-module="govuk-header">
    <div class="app-header__container app-width-container">
        <div class="app-header__logo">
            <a class="app-header__link app-header__link--service " href="/" aria-label="DfE homepage">
                <img src="~/images/dfe-logo.png" class="app-header__logo-image" alt="DfE Homepage">
                <img src="~/images/dfe-logo-alt.png" class="app-header__logo-image--hover" alt="DfE Homepage">
                <span class="app-header__service-name">
                    Get school business information
                </span>
            </a>
        </div>
        <div class="app-header__content" id="content-header">
            <div class="app-header__username">
                <a href="/account/sign-out" class="govuk-link govuk-link--inverse">Sign out</a>
            </div>
        </div>
    </div>
</header>
