@using GovUk.Frontend.AspNetCore

<header class="dfe-header " role="banner" data-module="govuk-header">
    <div class="dfe-header__container dfe-width-container">
        <div class="dfe-header__logo">
            <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">
                <img src="~/images/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
                <img src="~/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
                <span class="dfe-header__service-name">
                    Get school business information
                </span>
            </a>
        </div>
        <div class="dfe-header__content" id="content-header">
            <div class="dfeuk-header__username">
                <a href="/sign-out" class="govuk-link govuk-link--inverse">Sign out (currently decorative)</a>
            </div>
        </div>
    </div>
</header>
