html {
  margin: 1.5em;  
  font-family: sans-serif;
}

.dfe-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.dfe-header {
  background-color: #003a69;
  border-bottom: 10px solid #347ca9;

  &__container {
    padding: 20px 0;
  }

  &__service-name {
    font-size: 22px;
  }

  &__link--service {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    width: auto;
  }

  &__service-name {
    padding-left: 16px;
    margin-top: 61px;
    display: block;
    font-weight: 500;
    letter-spacing: -.2px;
    margin-left: 12px;
  }

  &:hover & {
      &__service-name {
          text-decoration: underline;
      }
  }
}

.dfe-logo {
  width: 136px !important;
  height: 80px !important;
  border: 0;
}

.govuk-width-container {
  max-width: 1200px;
}
