@{
    Layout = "_SchoolAccountPageTemplate";
}

@section Header {
    @await Html.PartialAsync("_DfeHeader")
}

@section BeforeContent {
    @RenderSection("BeforeContent", required: false)
}

    <div class="govuk-width-container">
        <main role="main">
            @if (User.Identity?.IsAuthenticated == true) {
                <a href="/account/sign-out">Sign out</a>
            }
            else {
                <p>You aren't signed in!</p>
            }

            @RenderBody()
        </main>
    </div>

@section Footer {
    @await Html.PartialAsync("_FooterPartial")
}
