<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dfe.SchoolAccount.Web</title>
    <link rel="stylesheet" href="~/css/main.bundle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Dfe.SchoolAccount.Web</a>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @if (User.Identity?.IsAuthenticated == true) {
            <a href="/account/sign-out">Sign out</a>
        }
        else {
            <p>You aren't signed in!</p>
        }

        @RenderBody()
    </main>

    <footer>
        &copy; 2023 - Dfe.SchoolAccount.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <script src="~/js/main.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
