<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (!string.IsNullOrEmpty(ViewData["Title"] as string))
        {
            @ViewData["Title"]
            <text> - </text>
        }
        @await Component.InvokeAsync("SiteTitle")
    </title>
    <link rel="stylesheet" href="~/css/main.bundle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">@await Component.InvokeAsync("SiteTitle")</a>
        </nav>
    </header>

    <div class="govuk-width-container">
        <main role="main">
            @if (User.Identity?.IsAuthenticated == true) {
                <a href="/account/sign-out">Sign out</a>
            }
            else {
                <p>You aren't signed in!</p>
            }

            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("FooterNavigation")

    <footer>
        &copy; 2023 - Dfe.SchoolAccount.Web
    </footer>

    <script src="~/js/main.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
